:root{
  --blueTalentis: #1976D2;
  --redTalentis: #ff3547;
  --yellowTalentis: #FBC02D;
  --darkTalentis: #4b4b4b;
}
body {
  font-family: 'Ubuntu', sans-serif;
}


#navbar a{
  color: #687480;
}
.brochure{
  color: #fff !important;
  border: 1px solid #fff;
  background: var(--blueTalentis);
  border-radius: 20px;
}
.brochure:hover{
  color: var(--blueTalentis) !important;
  border: 1px solid var(--blueTalentis);
  background: white;
}
#navbar a:hover{
  color: var(--blueTalentis);
}

.text-redTalentis{
  color: var(--redTalentis);
}
.dropdown-menu{
  border:none;
  box-shadow: 1px 3px 5px 1px #d4d4d45e;
  border-radius: .8rem;
}
.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -.8rem;
  left: 1rem;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;

}